/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

/* Body and Background */
body {
    background-color: #f8f8f8;
    color: #333;
}

/* Header Styling */
header {
    width: 100%;
    background-color:#00b894;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .back-button {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav .page-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Festival Section */
.festival-section {
    padding: 50px;
    text-align: center;
}

.festival-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color:#00b894;
    margin-bottom: 30px;
}

.festival-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.festival-item {
    height: 45vh;
    width: 22%;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.festival-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.3s;
}

.festival-item h3 {
    padding-top: 2vh;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #555;
}

.festival-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.festival-item:hover img {
    transform: scale(1.1);
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .festival-gallery {
        flex-direction: column;
        align-items: center;
    }

    .festival-item {
        width: 90%;
        margin-bottom: 20px;
    }
}
