/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}
nav{
    display: flex;
    width: 100%;
    margin-right: 2vw;
    justify-content: space-between;
}
header {
    background-color: #00b894;
    display: flex;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.back-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.destination-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 2vh;
}

.image-container {
    width: 15vw;
    height: 10vw;
    background-image: url(images/jaipur.jpg);
    background-size: cover;
    background-position: center;
}

.info-container {
    padding: 20px;
    text-align: left;
    width: 100%;
}

#destinationTitle {
    font-size: 2em;
    color:#00b894;
    margin-bottom: 10px;
}

#destinationDescription {
    font-size: 1.1em;
    color: #636e72;
    line-height: 1.6;
    margin-bottom: 20px;
}

#moreInfoButton {
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
    background-color:#00b894;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#moreInfoButton:hover {
    background-color: #01976b;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
